{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Singup{% endblock %}

{% block body %}
    <h2 class="text-center mt-4">Veuillez vous Inscrire </h2>
    {{ form_start(form) }}
    {{ form_row(form.userName, {'label': 'Pseudo', 'attr': {'placeholder': 'Entrer votre Pseudo ...'}}) }}
    {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Entrer votre email ...'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Entrer votre mot de passe !'}}) }}
    {{ form_row(form.confirmPassword, {'label': 'Confirmation mot de passe', 'attr': {'placeholder': 'Confirmer le mot de passe'}}) }}
    <button type="submit" class="btn btn-primary"> Valider</button>
    {{ form_end(form) }}
{% endblock %}
