{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}CreatePin{% endblock %}


{% block body %}
    <div class="example-wrapper">
    <h1 class="text-center mt-4 mb-4">créer un pin </h1>
    <div class='row ' >
        <div class='col-md-6 mx-auto'>
            {{ form_start(form) }}
                {{ form_row(form.image, {'label': 'Image', 'attr': {'placeholder': 'Charger une image ...'}}) }}
                {{ form_row(form.title, { 'attr': {'placeholder': 'Entrer le titre ...'}}) }}
                {{ form_row(form.content, {'label': 'Description', 'attr': {'placeholder': 'Entrer la description ...'}}) }}
                <button type="submit" class="btn btn-primary"> Valider</button>
            {{ form_end(form) }}
            <a href="{{ path('app_displaypins') }}"><button class='btn btn-primary mt-2'>Retour</button></a>
        </div>
    </div>
</div>


{% endblock %}