{% extends 'base.html.twig' %}

{% block title %}PinsPage{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 class="text-center mt-4 mb-4">Liste les pins </h1>
    <p class='text-center'>
        <a  href="{{ path('app_createpin') }}"><button class='btn btn-primary'>Créer un pin</button></a>
    </p>
    {% for pin in pins %}
    <div class='row ' >
        <article>
           <h3>{{ pin.title }}</h3>
           <div class='metadata'>Ecrit le {{ pin.createdAt | date('d/m/Y') }} 
           à {{ pin.createdAt | date('H:i') }}</div>
           <img src="{{ pin.image }}" alt="">
           <p>{{ pin.content | raw }}</p>    
        </article>
    </div>
     {% endfor %}
</div>
{% endblock %}
