{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}


<div class="example-wrapper">
    <h1 class="text-center mt-4 mb-4">Le pin </h1>
    <div class='row mb-4' >
        <div class='col-md-6 mx-auto '>
            <div class="card"> 
                <img src="{{ pin.image }}" alt="">
                <div class="card-body w-40 mx-auto">
                    <h5 class="card-title ">{{ pin.title }}</h5>
                    <p class='card-text '>Ecrit le {{ pin.createdAt | date('d/m/Y') }} 
                        à {{ pin.createdAt | date('H:i') }}</p>
                    <p class="card-text ">{{ pin.content | raw }}</p>
                </div>
                <div class="text-right">
                    <a class="mr-1" href="{{ path('app_editPin', {id: pin.id}) }}"><button class='btn btn-primary mb-2'>Editer</button></a> 
                </div>   
            </div>
            <a href="{{ path('app_displaypins') }}"><button class='btn btn-primary mt-2'>Retour</button></a>
        </div>
    </div>
     
</div>
{% endblock %}